@use 'chart' as *;
@use 'content' as *;
@use 'time' as *;
@use 'table' as *;
@use 'stockDetails' as *;
@use 'functions' as *;
@use 'chartTimeline' as *;
@use 'dashboard' as *;
@use 'payment' as *;
@use 'paymentAlert' as *;

// Fonts
//@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
//@import 'variables';

// Bootstrap
//@import 'bootstrap/scss/bootstrap';



@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    color: white ;
}
.account-balance
{
    color: #99A1AF;
    margin-right: 3rem;
    font-size: 0.95rem;
}