@use 'chart' as *;
@use 'content' as *;
@use 'time' as *;
@use 'table' as *;
@use 'stockDetails' as *;
@use 'functions' as *;
@use 'chartTimeline' as *;
@use 'dashboard' as *;
@use 'payment' as *;
@use 'paymentAlert' as *;

// Fonts
//@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
//@import 'variables';

// Bootstrap
//@import 'bootstrap/scss/bootstrap';


.account-balance h6 {
    margin: 0;
    font-size: 0.875rem; /* text-sm */
    font-weight: 500; /* font-medium */
    color: rgb(158, 153, 153); /* text-gray-700 */
}


@tailwind base;
@tailwind components;
@tailwind utilities;
